In [107]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
from sklearn import neighbors, datasets

In [12]:
df = pd.read_csv('madfhantr.csv')

In [13]:
df

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
5,LP001011,Male,Yes,2,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y
6,LP001013,Male,Yes,0,Not Graduate,No,2333,1516.0,95.0,360.0,1.0,Urban,Y
7,LP001014,Male,Yes,3+,Graduate,No,3036,2504.0,158.0,360.0,0.0,Semiurban,N
8,LP001018,Male,Yes,2,Graduate,No,4006,1526.0,168.0,360.0,1.0,Urban,Y
9,LP001020,Male,Yes,1,Graduate,No,12841,10968.0,349.0,360.0,1.0,Semiurban,N
10,LP001024,Male,Yes,2,Graduate,No,3200,700.0,70.0,360.0,1.0,Urban,Y
11,LP001027,Male,Yes,2,Graduate,NaN,2500,1840.0,109.0,360.0,1.0,Urban,Y
12,LP001028,Male,Yes,2,Graduate,No,3073,8106.0,200.0,360.0,1.0,Urban,Y
13,LP001029,Male,No,0,Graduate,No,1853,2840.0,114.0,360.0,1.0,Rural,N
14,LP001030,Male,Yes,2,Graduate,No,1299,1086.0,17.0,120.0,1.0,Urban,Y
15,LP001032,Male,No,0,Graduate,No,4950,0.0,125.0,360.0,1.0,Urban,Y
16,LP001034,Male,No,1,Not Graduate,No,3596,0.0,100.0,240.0,NaN,Urban,Y
17,LP001036,Female,No,0,Graduate,No,3510,0.0,76.0,360.0,0.0,Urban,N
18,LP001038,Male,Yes,0,Not Graduate,No,4887,0.0,133.0,360.0,1.0,Rural,N
19,LP001041,Male,Yes,0,Graduate,NaN,2600,3500.0,115.0,NaN,1.0,Urban,Y
20,LP001043,Male,Yes,0,Not Graduate,No,7660,0.0,104.0,360.0,0.0,Urban,N
21,LP001046,Male,Yes,1,Graduate,No,5955,5625.0,315.0,360.0,1.0,Urban,Y
22,LP001047,Male,Yes,0,Not Graduate,No,2600,1911.0,116.0,360.0,0.0,Semiurban,N
23,LP001050,NaN,Yes,2,Not Graduate,No,3365,1917.0,112.0,360.0,0.0,Rural,N
24,LP001052,Male,Yes,1,Graduate,NaN,3717,2925.0,151.0,360.0,NaN,Semiurban,N
25,LP001066,Male,Yes,0,Graduate,Yes,9560,0.0,191.0,360.0,1.0,Semiurban,Y
26,LP001068,Male,Yes,0,Graduate,No,2799,2253.0,122.0,360.0,1.0,Semiurban,Y
27,LP001073,Male,Yes,2,Not Graduate,No,4226,1040.0,110.0,360.0,1.0,Urban,Y
28,LP001086,Male,No,0,Not Graduate,No,1442,0.0,35.0,360.0,1.0,Urban,N
29,LP001087,Female,No,2,Graduate,NaN,3750,2083.0,120.0,360.0,1.0,Semiurban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
584,LP002911,Male,Yes,1,Graduate,No,2787,1917.0,146.0,360.0,0.0,Rural,N
585,LP002912,Male,Yes,1,Graduate,No,4283,3000.0,172.0,84.0,1.0,Rural,N
586,LP002916,Male,Yes,0,Graduate,No,2297,1522.0,104.0,360.0,1.0,Urban,Y
587,LP002917,Female,No,0,Not Graduate,No,2165,0.0,70.0,360.0,1.0,Semiurban,Y
588,LP002925,NaN,No,0,Graduate,No,4750,0.0,94.0,360.0,1.0,Semiurban,Y
589,LP002926,Male,Yes,2,Graduate,Yes,2726,0.0,106.0,360.0,0.0,Semiurban,N
590,LP002928,Male,Yes,0,Graduate,No,3000,3416.0,56.0,180.0,1.0,Semiurban,Y
591,LP002931,Male,Yes,2,Graduate,Yes,6000,0.0,205.0,240.0,1.0,Semiurban,N
592,LP002933,NaN,No,3+,Graduate,Yes,9357,0.0,292.0,360.0,1.0,Semiurban,Y
593,LP002936,Male,Yes,0,Graduate,No,3859,3300.0,142.0,180.0,1.0,Rural,Y
594,LP002938,Male,Yes,0,Graduate,Yes,16120,0.0,260.0,360.0,1.0,Urban,Y
595,LP002940,Male,No,0,Not Graduate,No,3833,0.0,110.0,360.0,1.0,Rural,Y
596,LP002941,Male,Yes,2,Not Graduate,Yes,6383,1000.0,187.0,360.0,1.0,Rural,N
597,LP002943,Male,No,NaN,Graduate,No,2987,0.0,88.0,360.0,0.0,Semiurban,N
598,LP002945,Male,Yes,0,Graduate,Yes,9963,0.0,180.0,360.0,1.0,Rural,Y
599,LP002948,Male,Yes,2,Graduate,No,5780,0.0,192.0,360.0,1.0,Urban,Y
600,LP002949,Female,No,3+,Graduate,NaN,416,41667.0,350.0,180.0,NaN,Urban,N
601,LP002950,Male,Yes,0,Not Graduate,NaN,2894,2792.0,155.0,360.0,1.0,Rural,Y
602,LP002953,Male,Yes,3+,Graduate,No,5703,0.0,128.0,360.0,1.0,Urban,Y
603,LP002958,Male,No,0,Graduate,No,3676,4301.0,172.0,360.0,1.0,Rural,Y
604,LP002959,Female,Yes,1,Graduate,No,12000,0.0,496.0,360.0,1.0,Semiurban,Y
605,LP002960,Male,Yes,0,Not Graduate,No,2400,3800.0,NaN,180.0,1.0,Urban,N
606,LP002961,Male,Yes,1,Graduate,No,3400,2500.0,173.0,360.0,1.0,Semiurban,Y
607,LP002964,Male,Yes,2,Not Graduate,No,3987,1411.0,157.0,360.0,1.0,Rural,Y
608,LP002974,Male,Yes,0,Graduate,No,3232,1950.0,108.0,360.0,1.0,Rural,Y
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [14]:
df.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [15]:
df.dropna(inplace=True)

In [16]:
df

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
5,LP001011,Male,Yes,2,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y
6,LP001013,Male,Yes,0,Not Graduate,No,2333,1516.0,95.0,360.0,1.0,Urban,Y
7,LP001014,Male,Yes,3+,Graduate,No,3036,2504.0,158.0,360.0,0.0,Semiurban,N
8,LP001018,Male,Yes,2,Graduate,No,4006,1526.0,168.0,360.0,1.0,Urban,Y
9,LP001020,Male,Yes,1,Graduate,No,12841,10968.0,349.0,360.0,1.0,Semiurban,N
10,LP001024,Male,Yes,2,Graduate,No,3200,700.0,70.0,360.0,1.0,Urban,Y
12,LP001028,Male,Yes,2,Graduate,No,3073,8106.0,200.0,360.0,1.0,Urban,Y
13,LP001029,Male,No,0,Graduate,No,1853,2840.0,114.0,360.0,1.0,Rural,N
14,LP001030,Male,Yes,2,Graduate,No,1299,1086.0,17.0,120.0,1.0,Urban,Y
15,LP001032,Male,No,0,Graduate,No,4950,0.0,125.0,360.0,1.0,Urban,Y
17,LP001036,Female,No,0,Graduate,No,3510,0.0,76.0,360.0,0.0,Urban,N
18,LP001038,Male,Yes,0,Not Graduate,No,4887,0.0,133.0,360.0,1.0,Rural,N
20,LP001043,Male,Yes,0,Not Graduate,No,7660,0.0,104.0,360.0,0.0,Urban,N
21,LP001046,Male,Yes,1,Graduate,No,5955,5625.0,315.0,360.0,1.0,Urban,Y
22,LP001047,Male,Yes,0,Not Graduate,No,2600,1911.0,116.0,360.0,0.0,Semiurban,N
25,LP001066,Male,Yes,0,Graduate,Yes,9560,0.0,191.0,360.0,1.0,Semiurban,Y
26,LP001068,Male,Yes,0,Graduate,No,2799,2253.0,122.0,360.0,1.0,Semiurban,Y
27,LP001073,Male,Yes,2,Not Graduate,No,4226,1040.0,110.0,360.0,1.0,Urban,Y
28,LP001086,Male,No,0,Not Graduate,No,1442,0.0,35.0,360.0,1.0,Urban,N
31,LP001095,Male,No,0,Graduate,No,3167,0.0,74.0,360.0,1.0,Urban,N
32,LP001097,Male,No,1,Graduate,Yes,4692,0.0,106.0,360.0,1.0,Rural,N
33,LP001098,Male,Yes,0,Graduate,No,3500,1667.0,114.0,360.0,1.0,Semiurban,Y
34,LP001100,Male,No,3+,Graduate,No,12500,3000.0,320.0,360.0,1.0,Rural,N
37,LP001112,Female,Yes,0,Graduate,No,3667,1459.0,144.0,360.0,1.0,Semiurban,Y
38,LP001114,Male,No,0,Graduate,No,4166,7210.0,184.0,360.0,1.0,Urban,Y
39,LP001116,Male,No,0,Not Graduate,No,3748,1668.0,110.0,360.0,1.0,Semiurban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
575,LP002868,Male,Yes,2,Graduate,No,3159,461.0,108.0,84.0,1.0,Urban,Y
577,LP002874,Male,No,0,Graduate,No,3229,2739.0,110.0,360.0,1.0,Urban,Y
578,LP002877,Male,Yes,1,Graduate,No,1782,2232.0,107.0,360.0,1.0,Rural,Y
580,LP002892,Male,Yes,2,Graduate,No,6540,0.0,205.0,360.0,1.0,Semiurban,Y
581,LP002893,Male,No,0,Graduate,No,1836,33837.0,90.0,360.0,1.0,Urban,N
582,LP002894,Female,Yes,0,Graduate,No,3166,0.0,36.0,360.0,1.0,Semiurban,Y
584,LP002911,Male,Yes,1,Graduate,No,2787,1917.0,146.0,360.0,0.0,Rural,N
585,LP002912,Male,Yes,1,Graduate,No,4283,3000.0,172.0,84.0,1.0,Rural,N
586,LP002916,Male,Yes,0,Graduate,No,2297,1522.0,104.0,360.0,1.0,Urban,Y
587,LP002917,Female,No,0,Not Graduate,No,2165,0.0,70.0,360.0,1.0,Semiurban,Y
589,LP002926,Male,Yes,2,Graduate,Yes,2726,0.0,106.0,360.0,0.0,Semiurban,N
590,LP002928,Male,Yes,0,Graduate,No,3000,3416.0,56.0,180.0,1.0,Semiurban,Y
591,LP002931,Male,Yes,2,Graduate,Yes,6000,0.0,205.0,240.0,1.0,Semiurban,N
593,LP002936,Male,Yes,0,Graduate,No,3859,3300.0,142.0,180.0,1.0,Rural,Y
594,LP002938,Male,Yes,0,Graduate,Yes,16120,0.0,260.0,360.0,1.0,Urban,Y
595,LP002940,Male,No,0,Not Graduate,No,3833,0.0,110.0,360.0,1.0,Rural,Y
596,LP002941,Male,Yes,2,Not Graduate,Yes,6383,1000.0,187.0,360.0,1.0,Rural,N
598,LP002945,Male,Yes,0,Graduate,Yes,9963,0.0,180.0,360.0,1.0,Rural,Y
599,LP002948,Male,Yes,2,Graduate,No,5780,0.0,192.0,360.0,1.0,Urban,Y
602,LP002953,Male,Yes,3+,Graduate,No,5703,0.0,128.0,360.0,1.0,Urban,Y
603,LP002958,Male,No,0,Graduate,No,3676,4301.0,172.0,360.0,1.0,Rural,Y
604,LP002959,Female,Yes,1,Graduate,No,12000,0.0,496.0,360.0,1.0,Semiurban,Y
606,LP002961,Male,Yes,1,Graduate,No,3400,2500.0,173.0,360.0,1.0,Semiurban,Y
607,LP002964,Male,Yes,2,Not Graduate,No,3987,1411.0,157.0,360.0,1.0,Rural,Y
608,LP002974,Male,Yes,0,Graduate,No,3232,1950.0,108.0,360.0,1.0,Rural,Y
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [20]:
df['Gender'] = df['Gender'].replace(to_replace='Male',value='1')
print(df['Gender'])

df['Gender'] = df['Gender'].replace(to_replace='Female',value='0')
print(df['Gender'])

1      1
2      1
3      1
4      1
5      1
6      1
7      1
8      1
9      1
10     1
12     1
13     1
14     1
15     1
17     0
18     1
20     1
21     1
22     1
25     1
26     1
27     1
28     1
31     1
32     1
33     1
34     1
37     0
38     1
39     1
      ..
575    1
577    1
578    1
580    1
581    1
582    0
584    1
585    1
586    1
587    0
589    1
590    1
591    1
593    1
594    1
595    1
596    1
598    1
599    1
602    1
603    1
604    0
606    1
607    1
608    1
609    0
610    1
611    1
612    1
613    0
Name: Gender, Length: 480, dtype: object
1      1
2      1
3      1
4      1
5      1
6      1
7      1
8      1
9      1
10     1
12     1
13     1
14     1
15     1
17     0
18     1
20     1
21     1
22     1
25     1
26     1
27     1
28     1
31     1
32     1
33     1
34     1
37     0
38     1
39     1
      ..
575    1
577    1
578    1
580    1
581    1
582    0
584    1
585    1
586    1
587    0
589    1
590    1
591    1
593    1
594    1
595    1
596    1
598    1
599    1
602    1
603    1
604    0
606    1
607    1
608    1
609    0
610    1
611    1
612    1
613    0
Name: Gender, Length: 480, dtype: object

In [23]:
df['Married'] = df['Married'].replace(to_replace='Yes',value='1')
print(df['Married'])

df['Married'] = df['Married'].replace(to_replace='No',value='0')
print(df['Married'])

1      1
2      1
3      1
4      0
5      1
6      1
7      1
8      1
9      1
10     1
12     1
13     0
14     1
15     0
17     0
18     1
20     1
21     1
22     1
25     1
26     1
27     1
28     0
31     0
32     0
33     1
34     0
37     1
38     0
39     0
      ..
575    1
577    0
578    1
580    1
581    0
582    1
584    1
585    1
586    1
587    0
589    1
590    1
591    1
593    1
594    1
595    0
596    1
598    1
599    1
602    1
603    0
604    1
606    1
607    1
608    1
609    0
610    1
611    1
612    1
613    0
Name: Married, Length: 480, dtype: object
1      1
2      1
3      1
4      0
5      1
6      1
7      1
8      1
9      1
10     1
12     1
13     0
14     1
15     0
17     0
18     1
20     1
21     1
22     1
25     1
26     1
27     1
28     0
31     0
32     0
33     1
34     0
37     1
38     0
39     0
      ..
575    1
577    0
578    1
580    1
581    0
582    1
584    1
585    1
586    1
587    0
589    1
590    1
591    1
593    1
594    1
595    0
596    1
598    1
599    1
602    1
603    0
604    1
606    1
607    1
608    1
609    0
610    1
611    1
612    1
613    0
Name: Married, Length: 480, dtype: object

In [28]:
df['Self_Employed'] = df['Self_Employed'].replace(to_replace='No',value='0')
df['Self_Employed'] = df['Self_Employed'].replace(to_replace='Yes',value='1')

In [ ]:
df['Education'] = df['Education'].replace(to_replace='Graduate',value='1')
df['Education'] = df['Education'].replace(to_replace='Not Graduate',value='0')

In [55]:
df['Dependents'] = df['Dependents'].replace(to_replace='3+',value='3')

# Splitting the data-set X and y

In [63]:
X = df.drop(columns=['Loan_Status','Loan_ID','Property_Area'])
X

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
1,1,1,1,1,0,4583,1508.0,128.0,360.0,1.0
2,1,1,0,1,1,3000,0.0,66.0,360.0,1.0
3,1,1,0,0,0,2583,2358.0,120.0,360.0,1.0
4,1,0,0,1,0,6000,0.0,141.0,360.0,1.0
5,1,1,2,1,1,5417,4196.0,267.0,360.0,1.0
6,1,1,0,0,0,2333,1516.0,95.0,360.0,1.0
7,1,1,3,1,0,3036,2504.0,158.0,360.0,0.0
8,1,1,2,1,0,4006,1526.0,168.0,360.0,1.0
9,1,1,1,1,0,12841,10968.0,349.0,360.0,1.0
10,1,1,2,1,0,3200,700.0,70.0,360.0,1.0
12,1,1,2,1,0,3073,8106.0,200.0,360.0,1.0
13,1,0,0,1,0,1853,2840.0,114.0,360.0,1.0
14,1,1,2,1,0,1299,1086.0,17.0,120.0,1.0
15,1,0,0,1,0,4950,0.0,125.0,360.0,1.0
17,0,0,0,1,0,3510,0.0,76.0,360.0,0.0
18,1,1,0,0,0,4887,0.0,133.0,360.0,1.0
20,1,1,0,0,0,7660,0.0,104.0,360.0,0.0
21,1,1,1,1,0,5955,5625.0,315.0,360.0,1.0
22,1,1,0,0,0,2600,1911.0,116.0,360.0,0.0
25,1,1,0,1,1,9560,0.0,191.0,360.0,1.0
26,1,1,0,1,0,2799,2253.0,122.0,360.0,1.0
27,1,1,2,0,0,4226,1040.0,110.0,360.0,1.0
28,1,0,0,0,0,1442,0.0,35.0,360.0,1.0
31,1,0,0,1,0,3167,0.0,74.0,360.0,1.0
32,1,0,1,1,1,4692,0.0,106.0,360.0,1.0
33,1,1,0,1,0,3500,1667.0,114.0,360.0,1.0
34,1,0,3,1,0,12500,3000.0,320.0,360.0,1.0
37,0,1,0,1,0,3667,1459.0,144.0,360.0,1.0
38,1,0,0,1,0,4166,7210.0,184.0,360.0,1.0
39,1,0,0,0,0,3748,1668.0,110.0,360.0,1.0
...,...,...,...,...,...,...,...,...,...,...
575,1,1,2,1,0,3159,461.0,108.0,84.0,1.0
577,1,0,0,1,0,3229,2739.0,110.0,360.0,1.0
578,1,1,1,1,0,1782,2232.0,107.0,360.0,1.0
580,1,1,2,1,0,6540,0.0,205.0,360.0,1.0
581,1,0,0,1,0,1836,33837.0,90.0,360.0,1.0
582,0,1,0,1,0,3166,0.0,36.0,360.0,1.0
584,1,1,1,1,0,2787,1917.0,146.0,360.0,0.0
585,1,1,1,1,0,4283,3000.0,172.0,84.0,1.0
586,1,1,0,1,0,2297,1522.0,104.0,360.0,1.0
587,0,0,0,0,0,2165,0.0,70.0,360.0,1.0
589,1,1,2,1,1,2726,0.0,106.0,360.0,0.0
590,1,1,0,1,0,3000,3416.0,56.0,180.0,1.0
591,1,1,2,1,1,6000,0.0,205.0,240.0,1.0
593,1,1,0,1,0,3859,3300.0,142.0,180.0,1.0
594,1,1,0,1,1,16120,0.0,260.0,360.0,1.0
595,1,0,0,0,0,3833,0.0,110.0,360.0,1.0
596,1,1,2,0,1,6383,1000.0,187.0,360.0,1.0
598,1,1,0,1,1,9963,0.0,180.0,360.0,1.0
599,1,1,2,1,0,5780,0.0,192.0,360.0,1.0
602,1,1,3,1,0,5703,0.0,128.0,360.0,1.0
603,1,0,0,1,0,3676,4301.0,172.0,360.0,1.0
604,0,1,1,1,0,12000,0.0,496.0,360.0,1.0
606,1,1,1,1,0,3400,2500.0,173.0,360.0,1.0
607,1,1,2,0,0,3987,1411.0,157.0,360.0,1.0
608,1,1,0,1,0,3232,1950.0,108.0,360.0,1.0
609,0,0,0,1,0,2900,0.0,71.0,360.0,1.0
610,1,1,3,1,0,4106,0.0,40.0,180.0,1.0
611,1,1,1,1,0,8072,240.0,253.0,360.0,1.0
612,1,1,2,1,0,7583,0.0,187.0,360.0,1.0
613,0,0,0,1,1,4583,0.0,133.0,360.0,0.0

In [64]:
y = df.Loan_Status
y

1      N
2      Y
3      Y
4      Y
5      Y
6      Y
7      N
8      Y
9      N
10     Y
12     Y
13     N
14     Y
15     Y
17     N
18     N
20     N
21     Y
22     N
25     Y
26     Y
27     Y
28     N
31     N
32     N
33     Y
34     N
37     Y
38     Y
39     Y
      ..
575    Y
577    Y
578    Y
580    Y
581    N
582    Y
584    N
585    N
586    Y
587    Y
589    N
590    Y
591    N
593    Y
594    Y
595    Y
596    N
598    Y
599    Y
602    Y
603    Y
604    Y
606    Y
607    Y
608    Y
609    Y
610    Y
611    Y
612    Y
613    N
Name: Loan_Status, Length: 480, dtype: object

# Building the model X and y

# Decision Trees

In [65]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=42)

In [66]:
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree

In [69]:
clf = tree.DecisionTreeClassifier(max_depth=3)
clf.fit(X_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=3,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [80]:
predictions = clf.predict(X_test)
predictions

array(['Y', 'Y', 'Y', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'N', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'N', 'N', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y',
       'Y'], dtype=object)

In [84]:
type(predictions)

numpy.ndarray

In [82]:
print(np.count_nonzero(predictions == 'Y'))

130

In [83]:
print(np.count_nonzero(predictions == 'N'))

14

Y apareceu 130 vezes e 

N apareceu 14 vezes

In [101]:
clf.score(X_test,y_test)

0.7777777777777778

In [102]:
# Acuracia
print(99/(31+99)*100)

76.15384615384615

In [86]:
from sklearn.metrics import classification_report, confusion_matrix

In [87]:
print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

           N       0.93      0.30      0.45        44
           Y       0.76      0.99      0.86       100

   micro avg       0.78      0.78      0.78       144
   macro avg       0.85      0.64      0.65       144
weighted avg       0.81      0.78      0.73       144

In [97]:
print(confusion_matrix(y_test,predictions))


# matriz de confusÃ£o
# (TP + TN)/total

(99+13)/(13+99+1+99)*100

[[13 31]
 [ 1 99]]

52.83018867924528

In [ ]:
https://pt.stackoverflow.com/questions/309420/classification-report-e-confusion-matrix-do-sklearn-os-valores-n%C3%A3o-batem

# Building the model X and y

# Random Forest

In [103]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier(n_estimators=100)
rfc.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [104]:
rfc_pred = rfc.predict(X_test)

In [105]:
print(confusion_matrix(y_test,rfc_pred))

[[15 29]
 [ 4 96]]

In [106]:
print(classification_report(y_test,rfc_pred))

              precision    recall  f1-score   support

           N       0.79      0.34      0.48        44
           Y       0.77      0.96      0.85       100

   micro avg       0.77      0.77      0.77       144
   macro avg       0.78      0.65      0.66       144
weighted avg       0.77      0.77      0.74       144

# Find the Entropy of the total dataset

In [ ]:
https://towardsai.net/p/programming/decision-trees-explained-with-a-practical-example-fe47872d3b53